<template>
  <div></div>
</template>

<script>

export default {
  name: 'home',
  data () {
    return {

    }
  },
  watch: {
    
  },
  computed: {
    
  },
  created () {
   
  },
  mounted () {
    
  },
  methods: {
   
  },
  components: {
   
  
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
 
</style>
