<template>
  <div class="swiper-container cswiper" ref="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide" v-for="(slide, index) in swiperSlides" :key="index">
        <a href="javascript:;"><img :src="slide.path" alt=".." @load="loadImage"></a>
      </div>
    </div>
  </div>
</template>

<script>
  import 'swiper/dist/css/swiper.css';
  import Swiper from 'Swiper'
  export default {
    name: 'swiper',
    props: {
      swiperSlides: {
        type: Array,
        default () {
          return []
        }
      }
    },
    data () {
      return {
        swiperOption: {}
      }
    },
    computed: {
     
    },
    mounted() {
      
    },
    methods: {
      loadImage () {
        //new Swiper(this.$refs.swiper,this.swiperOption);
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.cswiper {
  width: 100%;
  .swiper-slide {
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
    &.swiper-slide-prev, &.swiper-slide-next {
     
    }
    &.swiper-slide-active {}
    
  }
  
}
</style>
