<template>
  <div class="swiper-container" ref="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide" v-for="(slide, index) in swiperSlides" :key="index">
        <a href="javascript:;"><img :src="slide.path" alt=".." @load="loadImage"></a>
      </div>
    </div>
  </div>
</template>

<script>
  import 'swiper/dist/css/swiper.css';
  import Swiper from 'Swiper'
  export default {
    name: 'swiper',
    props: {
      swiperSlides: {
        type: Array,
        default () {
          return []
        }
      }
    },
    data () {
      return {
        swiper: null,
        swiperOption: {
          updateOnImagesReady: true,
          slidesPerView: 1.2,
          spaceBetween: 6,
          centeredSlides: true,
          loop: true,
          loopAdditionalSlides: 1,
          initialSlide: 0,
          autoplay: {
            delay: 3000
          }
        }
      }
    },
    computed: {
     
    },
    mounted() {
      
    },
    methods: {
      loadImage () {
        this.swiper = new Swiper(this.$refs.swiper,this.swiperOption);
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.swiper-container {
  height: 100%;
  width: 100%;
  .swiper-slide {
    height: 100%;
    border-radius: 10px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
    &.swiper-slide-prev, &.swiper-slide-next {
     transform: scale(1, 0.9)
    }
    &.swiper-slide-active {}
    
  }
  
}
</style>
