<template>
  <div class="case">
    <div class=""></div>
  </div>
</template>

<script>

export default {
  name: 'case',
  data () {
    return {

    }
  },
  watch: {
    
  },
  computed: {
    
  },
  created () {
   
  },
  mounted () {
    
  },
  methods: {
   
  },
  components: {
   
  
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.case {
  min-width: 300px;
  max-width: 750px;
  position:absolute;
  width:100%;
  top:0;
  bottom:0;
  overflow-y:scroll;
  display:block;
  -webkit-overflow-scrolling:touch;
}
</style>
