<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App',
  created () {},
  components: {
    
  }
}
</script>

<style lang="scss">
#app {
  position: relative;
  width: 100%;
  @media (min-width: 480px) {
    width: 480px;
    margin: 0 auto;
  }
}
</style>
